{% load static %}
<!DOCTYPE html>
<html>

<head>
        <title> Page Title </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>


	<ul>
                <li class="dropdown">
                <a style= "color: black;" href="home" class="dropbtn">Home</a>
                <div class="dropdown-content">
                <a href="admin">Login</a>
                <li><a href="main">Main</a></li>
                <li><a href="about">About</a></li>
                <li><a href="jungle">Jungle</a></li>
        </div>
        </ul>	

        <h1> This is the main page </h1>
	<p> This is a Paragraph Header </p>
	<h2> This is a Sub Header </h2>
	<p> This is a Paragraph Header </p>
	
	<div class="footer">
  	<li><a href="https://lh5.googleusercontent.com/CJqpa3j9urvgHYo60YJziwT0bky1sUgoCVt3pTUeQwnihPG5JKDcrT0sjOxyQD3_EE24dg">This Was Made By Piggy1 ( don't click me :) )</a></li>
	</div>

</body>

</html>



