h1{
	color: cyan;
}

h2{
	color: cyan;
}

p {
	color: white;
}

html {background-color: black ; text-align:center ; opacity: 0.9}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  color: black;
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: white ; color: black;
}

li.dropdown {
  color black;
  background-color: white;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: black;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: white; color: black;}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center
  background-color: black !important;
  color: white !important;
}
