{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title> Page Title </title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
	
	<ul>
                <li class="dropdown">
                <a style= "color: black;" href="home" class="dropbtn">Home</a>
                <div class="dropdown-content">
                <a href="admin">Login</a>
                <li><a href="main">Main</a></li>
                <li><a href="about">About</a></li>
                <li><a href="jungle">Jungle</a></li>
        </div>
        </ul>

	<h1> Yes </h1>
	<p> this is a paragraph header </p>

	<div class="footer">
        <li><a href="https://lh5.googleusercontent.com/txwc-e_GFWmDkO9TD-4ZD_t_zGBlmEBhpqHHllCtWHh7xB6-duGH1vgoS5oTmFKW27qATuHlnrTbMUXKjL_ktUu0rC_iAWqbqR-BfKeNEjH1GvXa6lmi=w1280">This Was Made By Piggy1 ( don't click me :) )</a></li>
        </div>

</body>

</html>
